<div class="gris ">
    <div class="container margenBot5">
        <mat-card class="margenTop">

            <h2>Familiars a l'AMPA <i class="fas fa-users"></i></h2>
        
            <div class="row">
                    <div class="col-sm-3 bajar">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="Germans">
                        ¿Germans?
                        <mat-radio-button value="1" class="izquierda1">Sí</mat-radio-button>
                        <mat-radio-button value="2" class="izquierda1">No</mat-radio-button>
                      </mat-radio-group>
                </div>
        
                <div class="col-sm animate__animated animate__fadeInRight" *ngIf="Germans == 1">
                    <mat-form-field appearance="fill" class="input">
                        <mat-label>NIA del germà</mat-label>
                        <input [(ngModel)]="niaGerma" matInput>
                    </mat-form-field>
                    </div>
                    <div class="col-sm animate__animated animate__fadeInRight" *ngIf="niaGerma.length > 5"> 
                    <mat-form-field appearance="fill" class="input">
                        <mat-label>DNI del germà</mat-label>
                        <input (ngModelChange)="cambio(dniGerma)" [(ngModel)]="dniGerma" matInput>
                    </mat-form-field>
                    </div>
                 
              </div>
        
        </mat-card>
      
<mat-card class="margenTop5">

<div class="credit-card row">
    <div class="row">
        <div class="col-sm-3">
            <h2>Total a pagar: {{this.servicio.cash}} <i class="fas fa-euro-sign"></i> </h2>    
        </div>
        <div class="col-sm-1">
            <mat-spinner *ngIf="this.servicio.cash == 0" [diameter]="30" class="loader"></mat-spinner>
        </div>

    <div class="col-sm-3">
    
        <div #cardInfo class="form-control">
    
        </div>
        <div class="error col-sm" >
            {{ this.cardError }}
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-4"></div>

    <button mat-raised-button color="primary" type="submit" class="col-sm-3 margenTop" (click)="onClick()">Pagar </button>
    <mat-spinner *ngIf="loader" [diameter]="40" class="loader"></mat-spinner>

</div>
</div>

</mat-card>
<mat-card class="margenTop5 ">
        <h4><strong>Ontinyent, {{data.getFullYear()}}</strong></h4>
 
        <strong></strong>Benvolguts pares,<br><br>

        Des de l'AMPA ens complau informar-vos que amb les aportacions per família, s'han pogut dur a terme les següents 
        activitats / ajudes:<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Lliurament de <strong>l'AGENDA ESCOLAR</strong> a tots els alumnes.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; <strong>CONCURS DE DIBUIX</strong> per a la creació de la portada i contraportada de l'agenda.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; ELS <strong>ESMORZARS</strong> per Nadal i Setmana Santa, per a tots els nostres nens.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Creació i Manteniment de l'AMPA <strong>BIBLIOTECA</strong> (Lectura llibres).<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Compra <strong>d'ORDINADORS</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Pagament de <strong>LLICÈNCIES MICROSOFT</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Compra de <strong>MATERIAL ESPORTIU</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Organització de <strong>TORNEIG IES JAUME I</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; <strong>REGALS</strong> de gratificació per als entrenadors.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Lliurament de <strong>DIPLOMES i PLAQUES</strong> als millors expedients acadèmics d'E.S.O., Batxillerat i Cicles Formatius.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Organització del VI d'Honor per a les famílies dels estudiants premiats als millors expedients acadèmics.<br><br>

        A més, la col·laboració amb la direcció del Jaume en contribucions a:<br><br>

         <i class="fas fa-arrow-right"></i>&nbsp; <strong>PISTES ESPORTIVES FIXES</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; La <strong>COBERTA DEL GIMNÀS</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; <strong>PAVIMENTACIÓ</strong> del pati interior de la secció sanitària.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Compra <strong>d'UNA AMBULANCIA</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Col·laboració en <strong>GRADUACIONS</strong>.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Creació d'un <strong>TABIC DIVISORI MÒBIL</strong> en una aula polivalent.<br>
         <i class="fas fa-arrow-right"></i>&nbsp; Disseny del lloc web per facilitar la <strong>LLICÈNCIA ONLINE</strong>.<br><br>
         
        Necessitem la vostra col·laboració com a pares per a seguir duent a terme les activitats indicades anteriorment i per
        satisfer aquelles necessitats que es duran a terme l'any vinent, treballant sempre pel benestar dels nostres fills.<br><br>
         
        Gràcies per la vostra col·laboració i estem a la vostra disposició.<br><br>
         
        El Consell d'Administració de l'AMPA de l'IES JAUME I<br><br>
         
        Per facilitar el pagament de la quota de l'AMPA i comptar amb la col·laboració de tots els pares i mares, hem reduït 
        la quota del curs 2021/22 a 10 euros /per família. Aquesta taxa s'abonarà a través d'aquesta aplicació web.<br><br>
         
        SI ETS EL PRIMER MEMBRE DE LA FAMÍLIA A FORMALITZAR LA MATRÍCULA + ASSOCIACIÓ AMPA LA QUOTA ÉS DE 20 EUROS (10 € QUOTA
         AMPA + 10 € DESPESES ESCOLARS*)<br><br>
         
        SI ALGUN MEMBRE DE LA TEVA FAMÍLIA JA HA FORMALITZAT LA MATRÍCULA + ASSOCIACIÓ AMPA INDICA A CONTINUACIÓ EL NIA I EL DNI
         DEL FAMILIAR I LA QUOTA SERÀ DE 10 € (DESPESES ESCOLARS*)      <br><br>          
        
        DESPESES ESCOLARS= fotos, carnet, assegurança escolar i fotocopies d’expedients.<br><br>
    

</mat-card>

</div>
</div>