.gris {
  background-color: rgba(218, 210, 210, 0.404);
  width: 100%;
  height: auto;
}

.margenTop {
  margin-top: 1%;
}

.margenTop5 {
  margin-top: 2%;
}

.izquierda1 {
  padding-left: 4%;
}


.container {
  padding-top: 4%;
}

.loader {
  width: 20px;
  height: 30%;
  margin-top: 1%;
  margin-left: 2%;
}

.bajar {
  padding-top: 2%;

}

.input {
  width: 100%;
}

.margenBot5 {
  padding-bottom: 4%;
}